.o-team {
  
  @include bp(min,1024px) {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
  }
  
  > li {
    display: inline-block;
    vertical-align: middle;
  }
  
  &__logo,
  &__names{
    display: block;
    @include bp(small-up) {
      display: inline-block;
      vertical-align: middle;
    }
  }
  
  &__logo {
    border: 1px solid rgba(white, 0.20);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    position: relative;
    text-align: center;
    img {
      @include vert-centerer;
    }
  }
  
  &__home,
  &__away {
    width: 48px;
    @include bp(small-up) {
      width:35%;
    }
  }
  
  &__away {
    @include bp(small-up) {
      text-align: right;
      direction: rtl;
      padding-right: 1em;
      .o-team {
        &__names{
          margin-right: 0.5em;
          margin-left: 0;
        }
      }
    }
  }
  
  
  
  &__names {
    text-align: center;
    color: white;
    @include bp(small-up) {
      margin-left: 0.5em;
    }
  }
  
  &__name {
    width: 100%;
    display: inline-block;
    &--long,
    &--short {
      display: none;
    }
    
    &--abbrev {
      font-size: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin-top: 0.5em;
    }
    
    &--short {
      @include bp(small-up) {
        display: block;
      }
    }
    
    &--abbrev {
      @include bp(small-up) {
        display: none;
      }
    }
  }
  
}